header {
    text-align: center;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, rgb(84, 139, 241), rgb(239, 239, 243));
}

.container {
    width: 330px;
    height: 550px;
    background-color: #86c5f0;
    margin: auto;
    top: 10px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#idResultado {
    text-align: right;
    height: 45px;
    padding-top: 15px;
    padding-right: 5px;
    margin: 3px 3px;
    font-size: 30px;
    color: white;
}

#idResult {
    justify-content: space-between;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

.clOperadores,
.clBotoesNumero {
    width: 50px;
    cursor: pointer;
    height: 50px;
    margin: 16px;
    float: left;
    border-radius: 30%;
    border-width: 10;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(224, 222, 222);
}

footer {
    text-align: center;
    font-style: italic;
    padding: 15px;
    width: 400px;
    margin: auto;
    font-size: 25px;
    color: rgb(84, 139, 241)
}

.keyboard {
    height: 380px;
}

button:nth-child(1) {
    font-size: 18px;
    background-color: #20b2aa;
}

button:nth-child(2) {
    font-size: 18px;
    background-color: #7702a5;
}

button:nth-child(28) {
    font-size: 18px;
    background-color: #05c52e;
}